$gradient-text: -webkit-linear-gradient(right, #61b42c, #006738);

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & h1 {
        font-size: 20pt;
        background: $gradient-text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}

.product_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 0.5rem;
    overflow: hidden;
}

.more {
    align-self: flex-end;
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: 800;
    text-decoration: none;
    color: black;
    background: $gradient-text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    .icon {
        color: #076c3d;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & h1 {
            font-size: medium;
        }

        & a {
            display: flex;
            align-items: center;
            font-size: small;
            font-weight: 800;
            text-decoration: none;
            color: black;
        }
    }
}

@media only screen and (max-width: 768px) {
    .product_grid {
        grid-template-columns: none;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 100%;
        grid-gap: 8px;
        overflow-y: clip;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        padding-bottom: 8px;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & h1 {
            font-size: medium;
        }

        & a {
            display: flex;
            align-items: center;
            font-size: smaller;
            font-weight: 800;
            text-decoration: none;
            color: black;
        }
    }
    
}
