.table-container{
    width: 100%;
}

.teble-head-left {
    color: green;
    text-align: left;
    font-size: 18pt;
}

.teble-content-left {
    font-size: 14pt;
}

.teble-content-right {
    text-align: right;
    font-size: 14pt;
}

.teble-price-left {
    font-size: 16pt;
}

.teble-price-right {
    text-align: right;
    font-size: 16pt;
}