

.cover {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.header {
    font-size: 20pt;
}

.desc {
    font-size: 14pt;
    text-align: justify;
}
