$main-color: #086A38;

.container {
    border: 1px solid black;
    border-radius: 8px;
    align-items: center;
    padding: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;

    input {
        width: 100%;
    }
}

.icon {
    cursor: pointer;
    height: 100%;
}

.label {
    font-size: 10pt;
    font-weight: bold;
}

.box {
    display: flex !important;
    flex: 1;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        color: $main-color;
        transform: scale(115%);
    }
}

.icon_btn {
    width: 50%;
    height: 50%;
}

.link {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.grid_layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .container {
        width: 200px;

        input {
            width: 100%;
        }
    }

    .link {
        font-size: medium;
    }

    .grid_layout {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0.75rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        padding: 0;

        input {
            display: none;
        }
    }

    .link {
        font-size: small;
    }

    .grid_layout {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.5em;
    }

    .label {
        display: none;
    }
}
